.ipynb_checkpoints/
*.pyc
*.png
*.tif
*.jpg
*.pth
*.mat
*.npy
.DS_Store

.idea/*
experiments
experiments2

logs/
*results*
*__pycache__*
*.sh
datasets
basicsr.egg-info
correct_adv_training_attack
correct_adv_training_attacks
pretrained_models
new_flc_pool

*.zip
*.tar.gz
*.tar
*.pth
*.png
*.jpg
*.jpeg
*.state
*.log

new_flc_attack
transposed_adv
transposed_adv_300
transposed_adv_paper

*tb_logger*
*experiments*
*EXPERIMENTS*
plots/
datasets/
completed_experiments/
experiments_conv_before_flc/
experiments_flc_before_conv/
experiments_torch32/
IMP_PAPER_EXPERIMENTS/


